<%= form_with model: @topic, url: topics_path, local: true do |f| %>
  <div class="text-topic">
    <%= f.text_area :topic, class: "topic-text", id: "topic-text", placeholder: "", maxlength: "40" %>
  </div>
  <div class="registration-topix">
    <%= f.submit "とうこうする", class: "topic-registration" %>
  </div>
<% end %>