.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  position:absolute;
  top:100px;
  left:350px;
  z-index:1;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}