
.topic-text {
  width:350px;
  font-family: "Darumadrop One", sans-serif;
  border:0.5px solid black;
}

.registration-topix{
  text-align: center;
}

.topic-registration {
  font-family: "Darumadrop One", sans-serif;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #220000;
  width:100px;
  height:30px;
  background-color:#fff;
  border:0.5px solid black;
}