.index-back {
  width:1355px;
  height:1150px;
  background-color: rgba(255, 238, 217, 1);
  position:absolute;
  top:245px;
  border:3px ridge #ffffcc;
  overflow: scroll;
}

.index-title {
  background-image: url('/assets/地層2.png');
  background-size:50%;
  height:90px;
  width:1350px;
  font-size:70px;
  text-align:center;
  line-height:70px;
  border:3px ridge #ffffcc;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #663300;
}

.index-dinosaurs {
  display:flex;
  flex-wrap: wrap;
}

.li-dinosaur {
  width: calc(33.33% - 40px);
  margin:0 20px;
}

.li-dinosaur a {
  text-decoration:none;
  color:black;
}

.image-index{
  background-image: url('/assets/古い紙.png');
  background-size:100%;
  height:320px;
}

.name-index {
  text-decoration: none;
  font-size:40px;
  text-align:center;
  background-color:#fff;

}

.new-dinosaur-btn {
  text-decoration: none;
  color:red;
  font-size:25px;
  line-height:187px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #663300;
  background-color:#F0FFFF;
  border:2px solid #663300;
  border-radius:15px;
}

.dinosaur-btn {
  height:100px;
  width:160px;
  position:absolute;
  left:1150px;
  top:227px;
  background-image: url('/assets/ティラノ化石.png');
  background-size:100%;
  z-index:1;
}

.topics {
  position:absolute;
  left:1380px;
  top:245px;
  background-color:black;
  z-index:2;
}

.topic-back {
  background-color: rgba(255, 238, 217);
  border:3px ridge #ffffcc;
  height:1150px;
  width:450px;
}

.topic-index {
  background-color:#ffffee;
  height:1100px;
  width:400px;
  position:absolute;
  top:25px;
  left:25px;
 
}

.date {
  color:#33FF99;
}

.topic-title {
  text-align: center;
}

.topics-comment {
  font-size:25px;
  border-bottom:2px dotted rgba(255, 238, 217);
  display:flex;
  justify-content: space-between;
}

.topics-image {
  position:absolute;
  z-index:1;
  height:120px;
  width:100px;
  left:250px;
  top:-100px;
}

.iamge-topic {
  font-size:40px;
  position:absolute;
  z-index:1;
  top:-152px;
  height:180px;
  width:200px;
  background-image: url('木の看板.png');
  background-size:100%;
  
}

.topic-destroy {
  background-color :#cc3333 ;
  text-decoration: none;
  color:#ffffff;
  border:4px solid #660000;
  font-size:22px;
  border-radius:5px;
}

.new-topics {
  position:absolute;
  left:1428px;
  top:1250px;
  z-index:2;

}



.topic-text {
  width:350px;
  font-family: "Darumadrop One", sans-serif;
  border:2px solid rgba(255, 238, 217);
  height:50px;
}

.registration-topix{
  text-align: center;
}

.topic-registration {
  font-family: "Darumadrop One", sans-serif;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #220000;
  width:120px;
  height:50px;
  color:#cc3333;
  font-size:30px;
  background-color:#fff;
  border:1px solid rgba(255, 238, 217);
}



