.show-back {
  width:1355px;
  height:900px;
  background-color: rgba(255, 238, 217, 1);
  position:absolute;
  top:245px;
  border:3px ridge #ffffcc;
  overflow: scroll;
  text-align:center;
  font-size:30px;
}

.dinosaur-show {
 width:1250px;
 position:absolute;
 top:20px;
 left:40px;
}

.show-bottom{
  background-image: url('/assets/古い紙.png');
}
.image-show {
  background-color:#fff;
}

.name-show {
  font-size:50px;
}

.id-show {
  display:flex;
  justify-content:center
}

.era-show {
  margin-left:20px;
}

.weight-show {
  margin-left: 20px;
}

.spec-show {
  display:flex;
  justify-content:center
}

.explanation-show{
  padding-bottom:30px;
}

.return-show {
  width:200px;
  height:80px;
  font-size:50px;

  background-color:white;
  font-family: "Darumadrop One", sans-serif;
  color:#3366cc;
  border: 1px solid black;
  text-decoration: none;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #220000;
  position:absolute;
  top:780px;
  left:600px;

}